* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app__header {
  position: sticky;
  top: 1%;
  z-index: 1000;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  transition: all 0.3s ease;
  max-width: fit-content;
  border-radius: 5rem;
}

.dark--bg {
  background: rgba(0, 0, 0, 0.95);
}

.app__title {
  color: aliceblue;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.app__inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.app__inputRow {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.app__todoInputLabel {
  font-style: italic;
}

.app__todoInputLabel--darkBackground {
  color: aliceblue;
}

.app__todoInput {
  padding: 10px 20px;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: aliceblue;
}

.app__todoInput--darkBackground {
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.3);
}

.app__addTodoButton {
  cursor: pointer;
  padding: 10px 30px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  font-weight: 900;
  transition: all 0.1s ease;
  border-radius: 1rem;
}

.app__addTodoButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.app__todoListContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app__todoListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  margin: 10px;
  border-radius: 1rem;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.app__todoCompleteStatus {
  position: absolute;
  bottom: 90%;
  font-size: 2rem;
}

.app__todoListItem:hover {
  transform: translateY(-5px);
  background-color: rgba(0, 0, 0, 0.9);
}

.app__todoListItemTitle {
  font-size: larger;
  margin-bottom: 20px;
}

.app__todoListItemButtons {
  display: flex;
  gap: 2rem;
}

.app__button {
  padding: 5px;
  font-size: larger;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.app__button:hover {
  transform: scale(1.2);
}

.app__todoListItemCompleteButton--complete:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.app__todoListItemCompleteButton--undoComplete:hover {
  background-color: rgba(0, 128, 0, 0.5);
}

.app__todoListItemDeleteButton:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.app__noTodosInfo {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 40px;
  border-radius: 1rem;
}
